body {
 background-color: #212121;
    margin: 0;
}

.cabecera{
    background: linear-gradient(#212121d2,rgba(44, 44, 44, 0));
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white; 
    border-bottom: 1px solid rgba(190, 30, 190, 0.781);
}


.logo {
    display: flex;
    justify-content: flex-start;
    max-width: 150px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.opciones {
    margin-right: 20px;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: purple;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.main a {
    color: white;
    text-decoration: none;
    font-size: 95%;
}

p {
    color: white;
}

h2 {
    color: white;
}

.principal {
    margin-top: 20px;
    margin-bottom: 30px;
}

.titulo {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.titulo a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

/* Carrusel */

.slider{
    width: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 5s infinite;
}
.slider li{
    width: 100%;
    height: 700px;
    list-style: none;
}
.slider img {
    width: 100%;
    height: 700px;
}

/* Termina carrusel */

.containerContent {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
    margin-bottom: 4%;
}

.media img {
    width: 100%;
}

footer {
    margin-top: 50px;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white; 
    border-top: 1px solid rgba(190, 30, 190, 0.781);
    background: linear-gradient(rgba(44, 44, 44, 0), #212121d2);
}

.ultimalinea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.copy {
    display: flex;
    justify-content: flex-start;
}

.mano img {
    width: 50px;
    margin: 5px;
}
.facebook img {
    width: 30px;
    margin: 10px;
}
.instagram img {
    width: 30px;
    margin: 10px;
}
.twitter img{
    width: 55px;
    margin: 5px;
}
.tmdb img {
    width: 80px;
    margin: 5px;
}

/* Movie detail */
.movie{
    background-image: url("../imagenes/charliefondo.jpeg");
    background-size: cover;
}

.detail h2 {
    color: white;
    font-weight: bold;
}

.detail p {
    color: white;
    font-family: sans-serif;
    text-align: start;
}

.gridContainer {
    background-color: #212121;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 30px;
    border: solid grey;
    padding: 16px;
    margin-left: 15% ;
    margin-right: 15%;
    margin-bottom: 4%;
    margin-top: 1%;
}

.gridMenu {
    display: grid;
    grid-template-columns: 1fr ;
    align-self: center;
    text-align: center;
}

.gridContainer img {
    width: 100%;
}

/* Serie detail */
.serie{
    background-image: url('http://htc-wallpaper.com/wp-content/uploads/2013/09/breaking-bad1.jpg');
    background-size: cover;
}

/* Tablet */

@media (max-width: 768px) {

    .main{
        display: block;
    }   
    
    .principal {
        text-align: left;
    }
    
    .containerContent {
        grid-template-columns: repeat(4,1fr);
    }

    .gridContainer{
        grid-template-columns: 1fr;
    }
    
    .media img {
        width: 100%;
    }
    
    .titulo {
        display: none;
    }
    
    footer {
        display: block;
    }

    .copy {
        display: block;
        text-align: center;
    }

    .nosotras {
        display: block;
        text-align: center;
    }

}

/* Mobile */

@media (max-width:420px) {

    .containerContent {
        grid-template-columns: repeat(2,1fr);
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .ultimalinea {
        display: block;
        text-align: center;
    }

}


