body {
background-color: #212121 !important;
    margin: 0;
} 

.cabecera{
    background: linear-gradient(#212121d2,rgba(44, 44, 44, 0)) !important;
}

nav {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
    text-decoration: none !important;
    color: white !important; 
    border-bottom: 1px solid rgba(190, 30, 190, 0.781) !important;
}


.logo {
    display: flex;
    justify-content: flex-start;
    max-width: 150px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}
.space{
    margin-bottom: 95px;
}
.opciones {
    margin-right: 20px;
}


/* Empieza buscador  */

* {
    box-sizing: border-box;
}
        
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 20px;
}
        
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: purple;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
        
form.example button:hover {
    background: #0b7dda;
}
        

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* Termina buscador */

.main a {
    color: white;
    text-decoration: none;
    font-size: 95%;
}

p {
    color: white;
}

h2 {
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    margin-top: 100px;
    margin-bottom: 100px;
}

.principal {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

.titulo {
    color: white !important;
    font-family: sans-serif !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
}

.titulo a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}


.containerContent {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
    margin-bottom: 4%;
}
.media{
    display: flex;
    flex-direction: column;
}

.media img {
    width: 100%;
}

footer {
    margin-top: 50px !important;
    color: white !important;
    font-size: 15px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    justify-content: space-between !important;
    align-items: center !important;
    text-decoration: none !important;
    color: white !important; 
    border-top: 1px solid rgba(190, 30, 190, 0.781) !important;
    background: linear-gradient(rgba(44, 44, 44, 0), #212121d2) !important;
}

.ultimalinea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.copy {
    display: flex;
    justify-content: flex-start;
}

.mano img {
    width: 100px !important;
    margin: 5px !important;
    margin-top: 15px !important;
}
.facebook img {
    width: 30px !important;
    margin: 10px !important;
}
.instagram img {
    width: 30px !important;
    margin: 10px !important;
}
.twitter img{
    width: 55px !important;
    margin: 5px !important;
}
.tmdb img {
    width: 80px !important;
    margin: 5px !important;
}

/* Movie detail */
/* .movie{ */
    /* background-image: url("../imagenes/charliefondo.jpeg");
    background-size: cover; */
/* } */
/* 
.detail h2 {
    color: white;
    font-weight: bold;
}

.detail p {
    color: white;
    font-family: sans-serif;
    text-align: start;
}

.gridContainer {
    background-color: #212121;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 30px;
    border: solid grey;
    padding: 16px;
    margin-left: 15% ;
    margin-right: 15%;
    margin-bottom: 4%;
    margin-top: 1%;
} */

/* .gridMenu {
    display: grid;
    grid-template-columns: 1fr ;
    align-self: center;
    text-align: center;
} */

.gridContainer img {
    width: 100%;
}

/* Serie detail */
/* .serie{
    background-image: url('http://htc-wallpaper.com/wp-content/uploads/2013/09/breaking-bad1.jpg');
    background-size: cover;
} */

/* Tablet */

@media (max-width: 768px) {

    .main{
        display: block;
    }   
    
    .principal {
        text-align: left;
    }
    
    .containerContent {
        grid-template-columns: repeat(4,1fr);
    }

    .gridContainer{
        grid-template-columns: 1fr;
    }
    
    .media img {
        width: 100%;
    }
    
    .titulo {
        display: none;
    }
    
    footer {
        display: block;
    }

    .copy {
        display: block;
        text-align: center;
    }

    .nosotras {
        display: block;
        text-align: center;
    }

}

/* Mobile */

@media (max-width:420px) {

    .containerContent {
        grid-template-columns: repeat(2,1fr);
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .ultimalinea {
        display: block;
        text-align: center;
    }

}


