body {
    background-color: #212121;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white; 
    border-bottom: 1px solid rgba(190, 30, 190, 0.781);
}


.logo {
    display: flex;
    justify-content: flex-start;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.opciones {
    margin-right: 20px;
    
}

.p {
    color: white;
}

h2 {
    color: white;
}

.titulo {
    color: white;
    font-family: sans-serif;
}

.containercomedia{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
    margin-bottom: 5%;
}

.containerinfantiles{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
    margin-bottom: 5%;
}

.containerdrama{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
    margin-bottom: 5%;
}

.containerterror{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
    margin-bottom: 5%;
}

footer {
    color: white;
}

footer {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white; 
}