body {
    background-image: url(http://images.fanpop.com/images/image_uploads/Charlie-the-Chocolate-Factory-tim-burton-169397_800_600.jpg);
    
    background-size: cover;
}



nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}


.logo {
    display: flex;
    justify-content: flex-start;
    
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.opciones {
    margin-right: 20px;
}

.main a {
    color: white;
    text-decoration: none;
    font-size: 95%;
}

h2 {
    color: white;
    font-weight: 500;
    font-weight: bold;
}

p {
    color: white;
    font-family: sans-serif;
    text-align: start;
}

.titulo {
    color: white;
    font-family: sans-serif;
}


.gridContainer {
    background-color: #212121;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 30px;
    border: solid grey;
    padding: 16px;
    margin-left: 15% ;
    margin-right: 15%;
    margin-bottom: 4%;
    margin-top: 1%;
}

.gridMenu {
    display: grid;
    grid-template-columns: 1fr ;
    align-self: center;
    text-align: center;
}

.gridContainer img {
    width: 100%;
}




footer {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white; 
    background: linear-gradient(rgba(44, 44, 44, 0),#212121d2);
   
}

.ultimalinea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
    
}
.cabecera{
    background: linear-gradient(#212121d2,rgba(44, 44, 44, 0));
}

.copy {
    display: flex;
    justify-content: flex-start;
    
}

.ult {
    margin-right: 20px;
    
}