body {
    background-color: #212121;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white; 
    border-bottom: 1px solid rgba(190, 30, 190, 0.781);
}


.logo {
    display: flex;
    justify-content: flex-start;
    
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.opciones {
    margin-right: 20px;
}

.main a {
    color: white;
    text-decoration: none;
    font-size: 95%;
}

h2 {
    color: white;
    font-weight: 500;
    font-weight: bold;
}

p {
    color: white;
    font-family: sans-serif;
}

.titulo {
    color: white;
    font-family: sans-serif;
}

.imagen{
   align-content: center;
   display: grid;
   align-items: center;
   border: solid #212121;
   padding: 16px;
   background: #212121;
}
.costado{
    display: grid;
    align-items: center;
    border: solid #212121;
    padding: 0px;
    background: #212121;
    position: absolute;
    right: 150px;
    width: 200px;
}
.elenco{
    align-self: flex-end;
    padding-top: 30px;
}


.info{
    background-color:#212121;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border: solid grey;
    padding: 16px;
}

footer {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white; 
    margin-top: 70px;
   
}

.ultimalinea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
    
}

.copy {
    display: flex;
    justify-content: flex-start;
    
}

.ult {
    margin-right: 20px;
    
}