.body {
    background-color: #212121;
}

/* falta que se pongan a la derecha */

.flex {
    display: flex;
}

.section_derecha{
    flex-direction: row;
    justify-content: flex-end;
}

.listas{
    margin-left: 80px;
    text-decoration: none;
}



a {
    text-decoration: none;
    color: white;  
}

.main_opciones {
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 list-style: none;
 color: white;
 justify-content: flex-end;
 text-decoration: none; 
}

.p {
    color: white;
}

.titulo {
    color: white;
    font-family: sans-serif;
}

.principal {
    color: white;
}

.containerfirst {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.containersecond {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.containerthird {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.containerfour {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.footer {
    color: white;
}