.body {
    background-color: #212121;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white; 
}


.logo {
    display: flex;
    justify-content: flex-start;
    
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}

.opciones {
    margin-right: 20px;
}

.p {
    color: white;
}

.titulo {
    color: white;
    font-family: sans-serif;
}

.principal {
    color: white;
}

.containerfirst {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.containersecond {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.containerthird {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.containerfour {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    padding: 0%;
}

.footer {
    color: white;
}